<h1 style="color:Orange;font-size:170%;"> SQL First Project </h1>

# Installing SQL module in the notebook

In [14]:
conda install -c conda-forge jupyterlab

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [ ]:
!pip install ipython-sql

# Loading the SQL module

In [17]:
 # autosave every minute
 %autosave 60
 # Load SQL Magic Module
 %load_ext sql

UsageError: %autosave requires an integer, got '60 # autosave every minute'

# Create a new Database

In [9]:
%sql sqlite:///Data/First_db.sqlite

## Populate the database

In [10]:
%%sql
CREATE TABLE EmployeeDemographics
(EmployeeID int,
FirstName varchar(50),
LastName varchar(50),
Age int,
Gender varchar(50))

 * sqlite:///Data/First_db.sqlite
   sqlite:///First_db.sqlite
Done.

[]

In [8]:
%%sql
CREATE TABLE EmployeeSalary
(EmployeeID int,
JobTitle varchar(50),
Salary int)

 * sqlite:///First_db.sqlite
Done.

[]