<h1 style="color:Orange;font-size:170%;"> SQL Notes with Magic Function setup </h1>

# Using IPython SQL Magic extension

Magic commands are a set of convenient functions in Jupyter Notebooks that are designed to solve some of the common problems in standard data analysis. You can see all of the available magics with the help of %lsmagic.

IPython SQL magic extension makes it possible to write SQL queries directly into code cells as well as read the results straight into pandas DataFrames (Source). This works for both the traditional notebooks as well as the modern Jupyter Labs.

# Installing SQL module in the notebook

In [2]:
conda install -c conda-forge jupyterlab

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\desou\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\desou\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\desou\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\desou\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\desou\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: prettytable<1 in c:\users\desou\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\desou\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: decorator in c:\users\desou\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: setuptools>=18.5 in c:\users\desou\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: backcall in c:\users\desou\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\desou\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: pygments in c:\users\desou\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: colorama in c:\users\desou\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\desou\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\desou\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: traitlets>=4.2 in c:\users\desou\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\desou\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\desou\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\desou\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)

# Loading the SQL module

In [3]:
 %load_ext sql

The above magic command loads the ipython-sql extension. We can connect to any database which is supported by SQLAlchemy. Here we will connect to a SQLite database. Enter the following command in the code cell:

In [6]:
%sql sqlite://

If you get the output as â€˜Connected: @None', this means the connection has been established.
### Creating a Database
Finally, we create a demo table called EMPLOYEES to showcase the function.

In [7]:
%%sql
CREATE TABLE EMPLOYEE(firstname varchar(50),lastname varchar(50));
INSERT INTO EMPLOYEE VALUES('Tom','Mitchell');
INSERT INTO EMPLOYEE VALUES('Jack','Ryan');

 * sqlite://
Done.
1 rows affected.
1 rows affected.

[]

We can now execute queries on our database.

In [8]:
 %sql SELECT * from EMPLOYEE;

 * sqlite://
Done.

[('Tom', 'Mitchell'), ('Jack', 'Ryan')]

### Working with an existing database

We can also connect to an existing database using the magic function. For this tutorial, we will be making use of the SQL_SAFI database(Studying African Farmer-led Irrigation (SAFI) database). "The [SAFI Project](http://www.safi-research.org/) is a research project looking at farming and irrigation methods used by farmers in Tanzania and Mozambique. This dataset is composed of survey data relating to households and agriculture" ([Source](http://brunalab.org/las6292/2019/01/28/session-3-data-structure/)). You can download it from [here](https://github.com/parulnith/SQL-Interface-within-JupyterLab/blob/master/SQL_SAFI.sqlite).

In [9]:
%sql sqlite:///Databases/cars.db

In [10]:
%sql CREATE TABLE CARS(name varchar(20), price int)

   sqlite://
 * sqlite:///cars.db
Done.

[]

In [11]:
%%sql
INSERT INTO CARS values("Supra", 45000);
INSERT INTO CARS values("350Z", 50000);
INSERT INTO CARS values("Pajero", 38000)

   sqlite://
 * sqlite:///cars.db
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [12]:
%sql SELECT * FROM CARS

   sqlite://
 * sqlite:///cars.db
Done.

[('Supra', 45000), ('350Z', 50000), ('Pajero', 38000)]

In [18]:
#Chenge server used
%sql sqlite:///Databases/SQL_SAFI.sqlite

The above statement opened the database named SQL_SAFI.sqlite that resides in the same folder. Let's select the Crops table and display its contents.

In [19]:
%sql select * from Crops limit 10

   sqlite://
 * sqlite:///SQL_SAFI.sqlite
   sqlite:///cars.db
Done.

[(1, 1, 1, 1, 'maize', 1),
 (1, 2, 1, 1, 'maize', 1),
 (2, 1, 1, 1, 'maize', 1),
 (2, 2, 1, 1, 'tomatoes', 1),
 (2, 3, 1, 1, 'vegetable', 1),
 (3, 1, 1, 1, 'maize', 1),
 (4, 1, 1, 1, 'maize', 1),
 (4, 2, 1, 1, 'maize', 1),
 (4, 3, 1, 1, 'sorghum', 1),
 (5, 1, 1, 1, 'maize', 1)]

Displaying first few rows of the Crops Table

In [20]:
 %%sql
SELECT *
FROM Crops
WHERE D_curr_crop="maize" AND ID <= 3;

   sqlite://
 * sqlite:///SQL_SAFI.sqlite
   sqlite:///cars.db
Done.

[(1, 1, 1, 1, 'maize', 1),
 (1, 2, 1, 1, 'maize', 1),
 (2, 1, 1, 1, 'maize', 1),
 (3, 1, 1, 1, 'maize', 1)]

The result can also be converted to a pandas dataframe, as follows:

In [32]:
%sql select * from Crops LIMIT 10;

   sqlite://
 * sqlite:///SQL_SAFI.sqlite
   sqlite:///cars.db
Done.

[(1, 1, 1, 1, 'maize', 1),
 (1, 2, 1, 1, 'maize', 1),
 (2, 1, 1, 1, 'maize', 1),
 (2, 2, 1, 1, 'tomatoes', 1),
 (2, 3, 1, 1, 'vegetable', 1),
 (3, 1, 1, 1, 'maize', 1),
 (4, 1, 1, 1, 'maize', 1),
 (4, 2, 1, 1, 'maize', 1),
 (4, 3, 1, 1, 'sorghum', 1),
 (5, 1, 1, 1, 'maize', 1)]

In [30]:
result = %sql select * from Crops;
dataframe = result.DataFrame()

   sqlite://
 * sqlite:///SQL_SAFI.sqlite
   sqlite:///cars.db
Done.

In [31]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    1044 non-null   int64
 1   plot_Id               1044 non-null   int64
 2   crop_Id               1044 non-null   int64
 3   D05_times             1044 non-null   int64
 4   D_curr_crop           1039 non-null   object
 5   D_repeat_times_count  1044 non-null   int64
dtypes: int64(5), object(1)
memory usage: 49.1+ KB