<h1 style="color:Orange;font-size:170%;"> SQL Coronavirus (COVID-19) Deaths Project </h1>

# Project Overview
This project is part of a 2 parts project which aimes to extrac the data from an excel file, create a database and populate the database.
After that we will explore the data for better understand them.

# Installing SQL module in the notebook

In [25]:
#conda install -c conda-forge jupyterlab

In [26]:
#!pip install ipython-sql

# Loading the SQL module

In [3]:
import pandas as pd
import sqlite3

In [4]:
 # autosave every minute
%autosave 60
# Load SQL Magic Module
%load_ext sql

Autosaving every 60 seconds

# Create a new Database

In [5]:
#connect to a database
conn = sqlite3.connect(r"Database/COVID_19_db.sqlite")
#if the db does not exist, this creates a Any_Database_Name.db file in the current directory

## Populate the database from file

In [6]:
#read the CSV
df_Death = pd.read_csv('DataSet/covid_data_death.csv')
df_Vaccin = pd.read_csv('DataSet/covid_data_vaccin.csv')
df_Death.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122243 entries, 0 to 122242
Data columns (total 26 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   iso_code                            122243 non-null  object
 1   continent                           122243 non-null  object
 2   location                            122243 non-null  object
 3   date                                122243 non-null  object
 4   population                          121954 non-null  float64
 5   total_cases                         115197 non-null  float64
 6   new_cases                           115188 non-null  float64
 7   new_cases_smoothed                  114222 non-null  float64
 8   total_deaths                        104358 non-null  float64
 9   new_deaths                          104354 non-null  float64
 10  new_deaths_smoothed                 114222 non-null  float64
 11  total_cases_per_million             115197 non-null  float64
 12  new_cases_per_million               115188 non-null  float64
 13  new_cases_smoothed_per_million      114222 non-null  float64
 14  total_deaths_per_million            104358 non-null  float64
 15  new_deaths_per_million              104354 non-null  float64
 16  new_deaths_smoothed_per_million     114222 non-null  float64
 17  reproduction_rate                   101931 non-null  float64
 18  icu_patients                        15619 non-null   float64
 19  icu_patients_per_million            15619 non-null   float64
 20  hosp_patients                       18310 non-null   float64
 21  hosp_patients_per_million           18310 non-null   float64
 22  weekly_icu_admissions               1262 non-null    float64
 23  weekly_icu_admissions_per_million   1262 non-null    float64
 24  weekly_hosp_admissions              2186 non-null    float64
 25  weekly_hosp_admissions_per_million  2186 non-null    float64
dtypes: float64(22), object(4)
memory usage: 24.2+ MB

In [7]:
df_Death.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,24/02/2020,39835428.0,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_Vaccin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122243 entries, 0 to 122242
Data columns (total 43 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   iso_code                                 122243 non-null  object
 1   continent                                122243 non-null  object
 2   location                                 122243 non-null  object
 3   date                                     122243 non-null  object
 4   new_tests                                54508 non-null   float64
 5   total_tests                              54699 non-null   float64
 6   total_tests_per_thousand                 54699 non-null   float64
 7   new_tests_per_thousand                   54508 non-null   float64
 8   new_tests_smoothed                       65945 non-null   float64
 9   new_tests_smoothed_per_thousand          65945 non-null   float64
 10  positive_rate                            61972 non-null   float64
 11  tests_per_case                           61316 non-null   float64
 12  tests_units                              67934 non-null   object
 13  total_vaccinations                       28642 non-null   float64
 14  people_vaccinated                        27150 non-null   float64
 15  people_fully_vaccinated                  24293 non-null   float64
 16  total_boosters                           3235 non-null    float64
 17  new_vaccinations                         23306 non-null   float64
 18  new_vaccinations_smoothed                53627 non-null   float64
 19  total_vaccinations_per_hundred           28642 non-null   float64
 20  people_vaccinated_per_hundred            27150 non-null   float64
 21  people_fully_vaccinated_per_hundred      24293 non-null   float64
 22  total_boosters_per_hundred               3235 non-null    float64
 23  new_vaccinations_smoothed_per_million    53627 non-null   float64
 24  stringency_index                         106737 non-null  float64
 25  population_density                       117597 non-null  float64
 26  median_age                               112079 non-null  float64
 27  aged_65_older                            110831 non-null  float64
 28  aged_70_older                            111463 non-null  float64
 29  gdp_per_capita                           112808 non-null  float64
 30  extreme_poverty                          75245 non-null   float64
 31  cardiovasc_death_rate                    112334 non-null  float64
 32  diabetes_prevalence                      116008 non-null  float64
 33  female_smokers                           87372 non-null   float64
 34  male_smokers                             86098 non-null   float64
 35  handwashing_facilities                   56207 non-null   float64
 36  hospital_beds_per_thousand               102035 non-null  float64
 37  life_expectancy                          120760 non-null  float64
 38  human_development_index                  112427 non-null  float64
 39  excess_mortality_cumulative_absolute     4580 non-null    float64
 40  excess_mortality_cumulative              4580 non-null    float64
 41  excess_mortality                         4580 non-null    float64
 42  excess_mortality_cumulative_per_million  4580 non-null    float64
dtypes: float64(38), object(5)
memory usage: 40.1+ MB

In [9]:
df_Vaccin.head()

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,24/02/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25/02/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26/02/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27/02/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28/02/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [ ]:
#store your table in the database:
df_Death.to_sql('CovidDeaths', conn, index=False)
df_Vaccin.to_sql('CovidVaccinations', conn, index=False)
# We set index to false for not have a double index on the SQL tables

In [11]:
# Read the table CovidDeaths and sort the row by location and date.
sql_string = 'SELECT * FROM CovidDeaths Order by 3,4'
pd.read_sql(sql_string, conn)

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2020-02-24,39835428.0,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130595,ZWE,Africa,Zimbabwe,2021-10-29,15092171.0,132926.0,46.0,48.286,4675.0,0.0,...,0.114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130596,ZWE,Africa,Zimbabwe,2021-10-30,15092171.0,132926.0,0.0,48.286,4675.0,0.0,...,0.114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130597,ZWE,Africa,Zimbabwe,2021-10-31,15092171.0,132977.0,51.0,46.571,4678.0,3.0,...,0.085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130598,ZWE,Africa,Zimbabwe,2021-11-01,15092171.0,133007.0,30.0,45.571,4679.0,1.0,...,0.057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130599,ZWE,Africa,Zimbabwe,2021-11-02,15092171.0,133047.0,40.0,46.143,4683.0,4.0,...,0.085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# Read the table CovidVaccinations and sort the row by location and date.
sql_string = 'SELECT * FROM CovidVaccinations Order by 3,4'
pd.read_sql(sql_string, conn)

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,None,None,None,None,71466.0,13368172.0,1338.010,7.153,116770.0,11.687,...,1.2,37.4,NaN,1.2,77.97,0.89,NaN,NaN,NaN,NaN
1,None,None,None,None,96994.0,13465166.0,1347.718,9.708,114797.0,11.490,...,1.2,37.4,NaN,1.2,77.97,0.89,NaN,NaN,NaN,NaN
2,None,None,None,None,116083.0,13581249.0,1359.337,11.619,116427.0,11.653,...,1.2,37.4,NaN,1.2,77.97,0.89,NaN,NaN,NaN,NaN
3,None,None,None,None,131633.0,13712882.0,1372.512,13.175,116578.0,11.668,...,1.2,37.4,NaN,1.2,77.97,0.89,NaN,NaN,NaN,NaN
4,None,None,None,None,137606.0,13850488.0,1386.285,13.773,115760.0,11.586,...,1.2,37.4,NaN,1.2,77.97,0.89,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130595,ZWE,Africa,Zimbabwe,2021-10-29,104673.0,12766260.0,1277.765,10.477,111124.0,11.122,...,1.2,37.4,NaN,1.2,77.97,0.89,NaN,NaN,NaN,NaN
130596,ZWE,Africa,Zimbabwe,2021-10-30,130573.0,12896833.0,1290.834,13.069,113423.0,11.352,...,1.2,37.4,NaN,1.2,77.97,0.89,NaN,NaN,NaN,NaN
130597,ZWE,Africa,Zimbabwe,2021-10-31,143336.0,13040169.0,1305.181,14.346,116706.0,11.681,...,1.2,37.4,NaN,1.2,77.97,0.89,NaN,NaN,NaN,NaN
130598,ZWE,Africa,Zimbabwe,2021-11-01,143991.0,13184160.0,1319.593,14.412,119504.0,11.961,...,1.2,37.4,NaN,1.2,77.97,0.89,NaN,NaN,NaN,NaN
130599,ZWE,Africa,Zimbabwe,2021-11-02,112546.0,13296706.0,1330.857,11.265,118717.0,11.882,...,1.2,37.4,NaN,1.2,77.97,0.89,NaN,NaN,NaN,NaN

In [13]:
#Select the data we will use
sql_string = 'SELECT Location, date, total_cases, new_cases, total_deaths, population' \
             ' FROM CovidDeaths ORDER BY 1,2 '
pd.read_sql(sql_string, conn)

,location,date,total_cases,new_cases,total_deaths,population
0,Afghanistan,2020-02-24,5.0,5.0,NaN,39835428.0
1,Afghanistan,2020-02-25,5.0,0.0,NaN,39835428.0
2,Afghanistan,2020-02-26,5.0,0.0,NaN,39835428.0
3,Afghanistan,2020-02-27,5.0,0.0,NaN,39835428.0
4,Afghanistan,2020-02-28,5.0,0.0,NaN,39835428.0
...,...,...,...,...,...,...
130595,Zimbabwe,2021-10-29,132926.0,46.0,4675.0,15092171.0
130596,Zimbabwe,2021-10-30,132926.0,0.0,4675.0,15092171.0
130597,Zimbabwe,2021-10-31,132977.0,51.0,4678.0,15092171.0
130598,Zimbabwe,2021-11-01,133007.0,30.0,4679.0,15092171.0
130599,Zimbabwe,2021-11-02,133047.0,40.0,4683.0,15092171.0

In [28]:
# Looking at total cases vs total deaths.
sql_string = 'SELECT location, date, total_cases, total_deaths, population, ROUND((total_deaths/total_cases)*100,2) AS Death_Rate ' \
             'FROM CovidDeaths ORDER BY 1,2 '
pd.read_sql(sql_string, conn)

,location,date,total_cases,total_deaths,population,Death_Rate
0,Afghanistan,2020-02-24,5.0,NaN,39835428.0,NaN
1,Afghanistan,2020-02-25,5.0,NaN,39835428.0,NaN
2,Afghanistan,2020-02-26,5.0,NaN,39835428.0,NaN
3,Afghanistan,2020-02-27,5.0,NaN,39835428.0,NaN
4,Afghanistan,2020-02-28,5.0,NaN,39835428.0,NaN
...,...,...,...,...,...,...
130595,Zimbabwe,2021-10-29,132926.0,4675.0,15092171.0,3.52
130596,Zimbabwe,2021-10-30,132926.0,4675.0,15092171.0,3.52
130597,Zimbabwe,2021-10-31,132977.0,4678.0,15092171.0,3.52
130598,Zimbabwe,2021-11-01,133007.0,4679.0,15092171.0,3.52
130599,Zimbabwe,2021-11-02,133047.0,4683.0,15092171.0,3.52

In [15]:
# Looking at total cases vs total deaths. You can change to your country.
sql_string = 'SELECT location, date, total_cases, total_deaths, population, ROUND((total_deaths/total_cases)*100,2) AS Death_Rate '\
             'FROM CovidDeaths '\
             'WHERE location = "Switzerland" ORDER BY 1,2 '
pd.read_sql(sql_string, conn)

,location,date,total_cases,total_deaths,population,Death_Rate
0,Switzerland,2020-02-25,1.0,NaN,8715494.0,NaN
1,Switzerland,2020-02-26,1.0,NaN,8715494.0,NaN
2,Switzerland,2020-02-27,8.0,NaN,8715494.0,NaN
3,Switzerland,2020-02-28,8.0,NaN,8715494.0,NaN
4,Switzerland,2020-02-29,18.0,NaN,8715494.0,NaN
...,...,...,...,...,...,...
612,Switzerland,2021-10-29,872558.0,11233.0,8715494.0,1.29
613,Switzerland,2021-10-30,872558.0,11233.0,8715494.0,1.29
614,Switzerland,2021-10-31,872558.0,11234.0,8715494.0,1.29
615,Switzerland,2021-11-01,877098.0,11242.0,8715494.0,1.28
616,Switzerland,2021-11-02,879051.0,11259.0,8715494.0,1.28

In [29]:
# Looking at total cases vs population. It shows what percentage of population got covid each day.
sql_string = 'SELECT location, date, total_cases, population, ROUND((total_deaths/population)*100,2) AS Infection_percentage '\
             'FROM CovidDeaths '\
             'WHERE location = "Switzerland" ORDER BY 1,2 '
pd.read_sql(sql_string, conn)

        location        date  total_cases  population  Infection_percentage
0    Switzerland  2020-02-25          1.0   8715494.0                   NaN
1    Switzerland  2020-02-26          1.0   8715494.0                   NaN
2    Switzerland  2020-02-27          8.0   8715494.0                   NaN
3    Switzerland  2020-02-28          8.0   8715494.0                   NaN
4    Switzerland  2020-02-29         18.0   8715494.0                   NaN
..           ...         ...          ...         ...                   ...
612  Switzerland  2021-10-29     872558.0   8715494.0                  0.13
613  Switzerland  2021-10-30     872558.0   8715494.0                  0.13
614  Switzerland  2021-10-31     872558.0   8715494.0                  0.13
615  Switzerland  2021-11-01     877098.0   8715494.0                  0.13
616  Switzerland  2021-11-02     879051.0   8715494.0                  0.13

[617 rows x 5 columns]

### Which country have the highest infection rate compare the population

In [32]:
sql_string = 'SELECT location, population, MAX(total_cases) AS Highest_Infection_Count, MAX((total_deaths/population))*100 AS Infection_percentage '\
             'FROM CovidDeaths ' \
             'GROUP by location, population '\
             'ORDER by Infection_percentage DESC '
pd.read_sql(sql_string, conn)

,location,population,Highest_Infection_Count,Infection_percentage
0,Peru,33359415.0,2202189.0,0.600358
1,Bosnia and Herzegovina,3263459.0,255054.0,0.357106
2,Bulgaria,6896655.0,614362.0,0.354578
3,North Macedonia,2082661.0,203298.0,0.343743
4,Montenegro,628051.0,145314.0,0.336438
...,...,...,...,...
232,Turkmenistan,6117933.0,NaN,NaN
233,Turks and Caicos Islands,39226.0,NaN,NaN
234,Tuvalu,11925.0,NaN,NaN
235,Vatican,812.0,27.0,NaN
236,Wallis and Futuna,11094.0,NaN,NaN

### Showing countries with Highest Death Count per population

In [19]:
sql_string = 'SELECT location, MAX(total_deaths) AS Total_Deaths_Count '\
             'FROM CovidDeaths '\
             'GROUP by location '\
             'ORDER by Total_Deaths_Count DESC ;'
pd.read_sql(sql_string, conn)

                            location  Total_Deaths_Count
0                              World           5013591.0
1                Upper middle income           2109730.0
2                        High income           1758049.0
3                             Europe           1313814.0
4                               Asia           1178919.0
..                               ...                 ...
232           British Virgin Islands                 NaN
233  Bonaire Sint Eustatius and Saba                 NaN
234                          Bermuda                 NaN
235                            Aruba                 NaN
236                         Anguilla                 NaN

[237 rows x 2 columns]

We need to add a condition to exclude the continent count from out data, we can do that through <a style="color:Green;">WHERE continent IS NOT NULL </a>.

In [20]:
sql_string = 'SELECT location, MAX(total_deaths) AS Total_Deaths_Count '\
             'FROM CovidDeaths '\
             'WHERE continent NOT NULL '\
             'GROUP by location '\
             'ORDER by Total_Deaths_Count DESC; '
pd.read_sql(sql_string, conn)

                            location  Total_Deaths_Count
0                      United States            748518.0
1                             Brazil            608071.0
2                              India            459191.0
3                             Mexico            288464.0
4                             Russia            236462.0
..                               ...                 ...
219           British Virgin Islands                 NaN
220  Bonaire Sint Eustatius and Saba                 NaN
221                          Bermuda                 NaN
222                            Aruba                 NaN
223                         Anguilla                 NaN

[224 rows x 2 columns]

# Let's break down things by Continent
## Showing the continent with highest death count per population

In [21]:
sql_string = 'SELECT location, MAX(total_deaths) AS Total_Deaths_Count '\
             'FROM CovidDeaths '\
             'WHERE continent IS NULL '\
             'GROUP by location '\
             'ORDER by Total_Deaths_Count DESC; '
pd.read_sql(sql_string, conn)

               location  Total_Deaths_Count
0                 World           5013591.0
1   Upper middle income           2109730.0
2           High income           1758049.0
3                Europe           1313814.0
4                  Asia           1178919.0
5         South America           1170638.0
6         North America           1128788.0
7   Lower middle income           1109395.0
8        European Union            800862.0
9                Africa            218561.0
10           Low income             36402.0
11              Oceania              2856.0
12        International                15.0

In [22]:
# Remove the income variable
sql_string = 'SELECT location, MAX(total_deaths) AS Total_Deaths_Count '\
             'FROM CovidDeaths '\
             'WHERE continent IS NULL ' \
             'AND location NOT IN (\"Upper middle income\", \"High income\", \"Lower middle income\",\"Low income\" )'\
             'GROUP by location '\
             'ORDER by Total_Deaths_Count DESC '
pd.read_sql(sql_string, conn)

         location  Total_Deaths_Count
0           World           5013591.0
1          Europe           1313814.0
2            Asia           1178919.0
3   South America           1170638.0
4   North America           1128788.0
5  European Union            800862.0
6          Africa            218561.0
7         Oceania              2856.0
8   International                15.0

## Global new cases order by date

In [23]:
sql_string = 'SELECT date, SUM(new_cases) AS Global_New_Cases, SUM(new_deaths) AS Global_New_Deaths, ROUND(SUM(new_deaths)/SUM(new_cases)*100,2) AS Death_Percentage '\
             'FROM CovidDeaths  ' \
             'WHERE continent IS NOT NULL ' \
             'GROUP BY date ' \
             'ORDER BY 2'
pd.read_sql(sql_string, conn)

           date  Global_New_Cases  Global_New_Deaths  Death_Percentage
0    2020-01-01               NaN                NaN               NaN
1    2020-01-02               NaN                NaN               NaN
2    2020-01-03               NaN                NaN               NaN
3    2020-01-04               NaN                NaN               NaN
4    2020-01-05               NaN                NaN               NaN
..          ...               ...                ...               ...
667  2021-01-07          891829.0            15154.0              1.70
668  2021-04-29          898160.0            15772.0              1.76
669  2021-04-22          898632.0            13877.0              1.54
670  2021-04-23          903509.0            15174.0              1.68
671  2021-04-28          905975.0            16043.0              1.77

[672 rows x 4 columns]

## Overall Global Death rate

In [24]:
sql_string = 'SELECT SUM(new_cases) AS Global_New_Cases, SUM(new_deaths) AS Global_New_Deaths, ROUND(SUM(new_deaths)/SUM(new_cases)*100,2) AS Death_Percentage '\
             'FROM CovidDeaths  '\
             'WHERE continent IS NOT NULL '\
             'ORDER BY 2'
pd.read_sql(sql_string, conn)

   Global_New_Cases  Global_New_Deaths  Death_Percentage
0       246947708.0          4996649.0              2.02

This is the first part of a 2 parts project. In this part we import the dataset into a database and then we analyze them to better understand their content.
The second part of the project consists on the preparation of the tables and visualize then in a dashboard with Tableau. You can visualize the second part [here](https://github.com/AndreasDeSousa/Data_Science_Analysis_Projects/tree/main/Data%20Visualization/Tableau/Covid19). In the notebook are missing some queries for incompatibility of some clause command. The complete query list is reported on the .sql file.