<h1 style="color:Orange;font-size:170%;"> SQL Coronavirus (COVID-19) Deaths Project </h1>

# Installing SQL module in the notebook

In [1]:
#conda install -c conda-forge jupyterlab

In [2]:
#!pip install ipython-sql

# Loading the SQL module

In [1]:
import pandas as pd
import sqlite3

In [2]:
 # autosave every minute
%autosave 60
# Load SQL Magic Module
%load_ext sql

Autosaving every 60 seconds

# Create a new Database

In [3]:
#connect to a database
conn = sqlite3.connect(r"Database/COVID_19_db.sqlite")
#if the db does not exist, this creates a Any_Database_Name.db file in the current directory

## Populate the database from file

In [31]:
#read the CSV
df_Death = pd.read_csv('DataSet/covid_data_death.csv')
df_Vaccin = pd.read_csv('DataSet/covid_data_vaccin.csv')
df_Death.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130600 entries, 0 to 130599
Data columns (total 26 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   iso_code                            130600 non-null  object
 1   continent                           122243 non-null  object
 2   location                            130600 non-null  object
 3   date                                130600 non-null  object
 4   population                          129676 non-null  float64
 5   total_cases                         123547 non-null  float64
 6   new_cases                           123545 non-null  float64
 7   new_cases_smoothed                  122502 non-null  float64
 8   total_deaths                        112502 non-null  float64
 9   new_deaths                          112698 non-null  float64
 10  new_deaths_smoothed                 122502 non-null  float64
 11  total_cases_per_million             122912 non-null  float64
 12  new_cases_per_million               122910 non-null  float64
 13  new_cases_smoothed_per_million      121872 non-null  float64
 14  total_deaths_per_million            111880 non-null  float64
 15  new_deaths_per_million              112076 non-null  float64
 16  new_deaths_smoothed_per_million     121872 non-null  float64
 17  reproduction_rate                   102576 non-null  float64
 18  icu_patients                        15619 non-null   float64
 19  icu_patients_per_million            15619 non-null   float64
 20  hosp_patients                       18310 non-null   float64
 21  hosp_patients_per_million           18310 non-null   float64
 22  weekly_icu_admissions               1262 non-null    float64
 23  weekly_icu_admissions_per_million   1262 non-null    float64
 24  weekly_hosp_admissions              2186 non-null    float64
 25  weekly_hosp_admissions_per_million  2186 non-null    float64
dtypes: float64(22), object(4)
memory usage: 25.9+ MB

In [32]:
df_Death.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,24/02/2020,39835428.0,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df_Vaccin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130600 entries, 0 to 130599
Data columns (total 43 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   iso_code                                 130600 non-null  object
 1   continent                                122243 non-null  object
 2   location                                 130600 non-null  object
 3   date                                     130600 non-null  object
 4   new_tests                                54508 non-null   float64
 5   total_tests                              54699 non-null   float64
 6   total_tests_per_thousand                 54699 non-null   float64
 7   new_tests_per_thousand                   54508 non-null   float64
 8   new_tests_smoothed                       65945 non-null   float64
 9   new_tests_smoothed_per_thousand          65945 non-null   float64
 10  positive_rate                            61972 non-null   float64
 11  tests_per_case                           61316 non-null   float64
 12  tests_units                              67934 non-null   object
 13  total_vaccinations                       32339 non-null   float64
 14  people_vaccinated                        30847 non-null   float64
 15  people_fully_vaccinated                  27820 non-null   float64
 16  total_boosters                           5353 non-null    float64
 17  new_vaccinations                         26969 non-null   float64
 18  new_vaccinations_smoothed                57375 non-null   float64
 19  total_vaccinations_per_hundred           32339 non-null   float64
 20  people_vaccinated_per_hundred            30847 non-null   float64
 21  people_fully_vaccinated_per_hundred      27820 non-null   float64
 22  total_boosters_per_hundred               5353 non-null    float64
 23  new_vaccinations_smoothed_per_million    57375 non-null   float64
 24  stringency_index                         106737 non-null  float64
 25  population_density                       118248 non-null  float64
 26  median_age                               112730 non-null  float64
 27  aged_65_older                            111482 non-null  float64
 28  aged_70_older                            112114 non-null  float64
 29  gdp_per_capita                           113459 non-null  float64
 30  extreme_poverty                          75896 non-null   float64
 31  cardiovasc_death_rate                    112985 non-null  float64
 32  diabetes_prevalence                      116659 non-null  float64
 33  female_smokers                           88023 non-null   float64
 34  male_smokers                             86749 non-null   float64
 35  handwashing_facilities                   56858 non-null   float64
 36  hospital_beds_per_thousand               102686 non-null  float64
 37  life_expectancy                          121411 non-null  float64
 38  human_development_index                  113078 non-null  float64
 39  excess_mortality_cumulative_absolute     4580 non-null    float64
 40  excess_mortality_cumulative              4580 non-null    float64
 41  excess_mortality                         4580 non-null    float64
 42  excess_mortality_cumulative_per_million  4580 non-null    float64
dtypes: float64(38), object(5)
memory usage: 42.8+ MB

In [34]:
df_Vaccin.head()

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,24/02/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25/02/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26/02/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27/02/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28/02/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [38]:
#store your table in the database:
df_Death.to_sql('CovidDeaths', conn,index=False)
df_Vaccin.to_sql('CovidVaccinations', conn,index=False)
# We set index to false for not have a double index on the SQL tables

In [39]:
#read a SQL Query out of your database and into a pandas dataframe
sql_string = 'SELECT * FROM CovidDeaths LIMIT 20'
df = pd.read_sql(sql_string, conn)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 26 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso_code                            20 non-null     object
 1   continent                           20 non-null     object
 2   location                            20 non-null     object
 3   date                                20 non-null     object
 4   population                          20 non-null     float64
 5   total_cases                         20 non-null     float64
 6   new_cases                           20 non-null     float64
 7   new_cases_smoothed                  15 non-null     float64
 8   total_deaths                        0 non-null      object
 9   new_deaths                          0 non-null      object
 10  new_deaths_smoothed                 15 non-null     float64
 11  total_cases_per_million             20 non-null     float64
 12  new_cases_per_million               20 non-null     float64
 13  new_cases_smoothed_per_million      15 non-null     float64
 14  total_deaths_per_million            0 non-null      object
 15  new_deaths_per_million              0 non-null      object
 16  new_deaths_smoothed_per_million     15 non-null     float64
 17  reproduction_rate                   0 non-null      object
 18  icu_patients                        0 non-null      object
 19  icu_patients_per_million            0 non-null      object
 20  hosp_patients                       0 non-null      object
 21  hosp_patients_per_million           0 non-null      object
 22  weekly_icu_admissions               0 non-null      object
 23  weekly_icu_admissions_per_million   0 non-null      object
 24  weekly_hosp_admissions              0 non-null      object
 25  weekly_hosp_admissions_per_million  0 non-null      object
dtypes: float64(9), object(17)
memory usage: 4.2+ KB

In [40]:
df.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,24/02/2020,39835428.0,5.0,5.0,NaN,None,None,...,NaN,None,None,None,None,None,None,None,None,None
1,AFG,Asia,Afghanistan,25/02/2020,39835428.0,5.0,0.0,NaN,None,None,...,NaN,None,None,None,None,None,None,None,None,None
2,AFG,Asia,Afghanistan,26/02/2020,39835428.0,5.0,0.0,NaN,None,None,...,NaN,None,None,None,None,None,None,None,None,None
3,AFG,Asia,Afghanistan,27/02/2020,39835428.0,5.0,0.0,NaN,None,None,...,NaN,None,None,None,None,None,None,None,None,None
4,AFG,Asia,Afghanistan,28/02/2020,39835428.0,5.0,0.0,NaN,None,None,...,NaN,None,None,None,None,None,None,None,None,None